.checkbox {
  $color: white;
  $size: 1em;
  $fontSize: 1em;
  width: $size;
  height: $size;
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: $fontSize;
  position: relative;
  outline: 1px solid black;
  line-height: $fontSize;
  box-sizing: border-box;
  cursor: pointer;

  &::after {
    content: '\a0';
  }
}

.isChecked {
  background-color: white;
  &::after {
    content: '✓';
    font-size: 0.7em;
  }
}

.isUnChecked {
  outline: 1px solid #bbb;
}

.isIndeterminate {
  background-color: white;
  &::after {
    content: '•';
  }
}
