.checkbox {
  $color: black;
  $size: 1em;
  $fontSize: 1em;
  width: $size;
  height: $size;
  display: inline-block;
  background-color: white;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: $fontSize;
  position: relative;
  outline: 1px solid #ddd;
  line-height: $fontSize;
  box-sizing: border-box;
  cursor: pointer;

  &::after {
    content: '\a0';
  }

  &.isChecked {
    background-color: $color;
    &::after {
      content: '✓';
      font-size: 0.7em;
    }
  }

  &.isUnChecked {
    border: 1px solid black;
  }

  &.isIndeterminate {
    background-color: $color;
    &::after {
      content: '•';
    }
  }
}
